[Unit]
Description=RecSys server for user %u

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=%h/rec-sys
ExecStart=%h/rec-sys/bin/start
ExecStop=%h/rec-sys/bin/stop
TimeoutStartSec=0

[Install]
WantedBy=default.target
