{% extends "content.html" %}

{% load static %}
{% load i18n %}

{%block container_class %}container{% endblock %}

{%block menu%}{% include "single/menu.html" %}{% endblock %}

{%block head%}Sign up{% endblock %}

{%block content%}

<div class="container justify-content-center">
  <div class="container py-5 col-md-5">
      <h1 class="display-5 fw-bold" onclick="return false">Sign up to <span class="bi-gem"> <strong>RecSys</strong></h1>
      <p class="col-md-12 fs-6" onclick="return false">To finish signup process, select an username. It is required to identifier you into <strong>ResSys</strong>.</p>

      <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}

        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <button type="submit" class="btn btn-dark custom-btn-dark" style="width: 100%"><span class="bi-person-fill">&ensp;<b>Sign Up</b></button>
      </form>

  </div>
</div>


<script>
    $('#id_username').addClass("form-control");
</script>






{% endblock %}


