{% extends "content.html" %}
{%block container_class %}container{% endblock %}


{%block menu%}{% include "single/menu.html" %}{% endblock %}

{%block head%}Home{% endblock %}

{% block content %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5 col-md-8">
            <h1 class="display-5 fw-bold" onclick="return false">Welcome to <span class="bi-gem"> <strong>RecSys</strong> testing UI</h1>
            <p class="col-md-8 fs-4" onclick="return false">This application allows you to score items and see personalized recommendations according to your tastes.</p>
            <a class="btn btn-primary btn-lg" role="button"  href="{% url 'likes' %}"><span class="bi-star-half">&ensp;</span>Let's start score your tastes</a>
        </div>
    </div>
{% endblock %}