{% extends "main/main.html" %}

{%block menu%}{% include "single/menu.html" %}{% endblock %}

{%block head%}Home{% endblock %}

{% block content %}
    
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to rec-sys testing UI</h1>
        <p class="col-md-8 fs-4">This application allows you to score items and see personalized recommendations according to your tastes.</p>
        <a class="btn btn-primary btn-lg" role="button"  href="{% url 'likes' %}">Select your tastes...</a>
        </div>
    </div>

{% endblock %}