{% extends "content.html" %}
{%block container_class %}container{% endblock %}

{%block menu%}{% include "single/menu.html" %}{% endblock %}

{%block head%}Score your tastes{% endblock %}

{%block title%}<h3 class="display-8 fw-bold text-center"><span class="bi-star-half">&ensp;Scoring your tastes</h1>{% endblock %}

{%block content%}
{% if item %}
<div class="mx-auto likes">
    <div class="card-like">
        <div class="img-wrapper">
            <img
            src="{{ item.image }}"
            alt="{{ item.name }}" 
            class="d-block  w-100 round-image"
            >
        </div>
        <div class="card-body">
            <h5 class="card-title"><strong>{{ item.name|truncatechars:200 }}</strong></h5>
            <p class="card-text" style="overflow-wrap: anywhere;">{{ item.description|truncatechars:280 }}</p>
            <form method="post" action="{% url 'likes' %}">
                {% csrf_token %}

                <input  type="hidden" name="item_id" value="{{ item.id }}">

                <div class="d-flex">
                    <div class="p-1 btn-group align-content-xl-start">
                        {% for score_level  in score_levels %}
                            <input type="radio" class="btn-check" name="rating" id="rating_{{score_level}}" value="{{score_level}}" autocomplete="off">
                            <label class="btn btn-primary" for="rating_{{score_level}}"><strong>{{score_level}}</strong></label>
                        {% endfor %}
                    </div>
                    <div class="p-1 btn-group align-content-xl-end">
                        <button type="submit" class="btn btn-success"><span class="bi-award">&ensp;<strong>Vote</strong></button>
         
                        <a class="btn btn-warning" href="{% url 'likes' %}" autofocus><span class="bi-arrow-right-square">&ensp;<strong>Next</strong></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}