{% extends "content.html" %}
{%block container_class %}container{% endblock %}

{%block menu%}{% include "single/menu.html" %}{% endblock %}

{%block head%}Score your tastes{% endblock %}

{%block title%}<h3 class="display-8 fw-bold text-center"><span class="bi-star-half">&ensp;Scoring your tastes</h1>{% endblock %}

{%block content%}
{% if item %}
<div class="mx-auto likes">
    <script>
        var context = {}

        function onCardLoad(img) {
            if (img.naturalWidth < 14 && img.naturalHeight < 14) {
                img.src='{{ NO_IMAGE_ITEM_URL }}'
            }
        }
    </script>
    <div class="card-like">
        <div class="img-wrapper" data-toggle="tooltip" data-html="true" title="{% if item.description == None or item.description == 'None' %}No Description{% else %}{{ item.description|truncatechars:500 }}{% endif %}">
            <img
            src="{{ item.image }}"
            alt="{{ item.name }}"
            class="d-block  w-100 round-image"
            onload="onCardLoad(this);"
            onclick="window.open('/items/detail/{{item.id}}/1000000000000', '_blank');"
            style="cursor: pointer;"
            >
        </div
        >
        <div class="card-body">
            <h6 class="card-title"><strong>{{ item.name|truncatechars:200 }}</strong></h6>
            <form method="post" action="{% url 'likes' %}">
                {% csrf_token %}
                <input  type="hidden" name="item_id" value="{{ item.id }}">
                <hr style="height:1px; width:99%; border-width:0; margin-top: 0px; margin-bottom: 10px; color:#ced4da; background-color:red">
                <div class="d-flex">
                    <div class="p1 btn-group align-content-xl-start">
                        {% for score_level  in score_levels %}
                            <input
                                type="radio"
                                class="btn-check"
                                name="rating"
                                id="rating_{{score_level}}"
                                value="{{score_level}}"
                                autocomplete="off"
                                onchange="document.getElementById('vote').disabled = false"
                            >
                            <label class="btn btn-primary" for="rating_{{score_level}}"><strong>{{score_level}}</strong></label>
                        {% endfor %}
                    </div>
                    <pre>      </pre>
                    <div class="btn-group align-content-xl-end">
                        <button id="vote" type="submit" class="btn btn-success" disabled><span class="bi-award">&ensp;<strong>Vote</strong></button>
                        <a class="btn btn-warning" href="{% url 'likes' %}" autofocus><span class="bi-arrow-right-square">&ensp;<strong>Next</strong></a>
                    </div>
                </div>
            </form>

        </div>
        <div class="card-footer regular-card-footer text-center">
            Popularity: <strong>{{ item.popularity|floatformat:3 }} <span class="bi-three-dots-vertical"></span> </strong>
            Rating: <strong>{{ item.rating|floatformat:1 }} <span class="bi-three-dots-vertical"></span> </strong>
            Votes: <strong>{{ item.votes|floatformat:0 }}</strong>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}


