<nav class="navbar navbar-expand navbar-dark bg-primary ">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><span class="bi-gem"> Rec-Sys</>
    </div>
    {% if user.is_authenticated %}
        <div class="container-fluid nav navbar-nav  justify-content-end">
            <a class="nav-item nav-link active" href="{% url 'recommendations' %}"><strong><span class="bi-bar-chart-line-fill"> Recommendations</strong></>
            <a class="nav-item nav-link active" href="{% url 'likes' %}"><strong><span class="bi-star-fill"> Scoring</strong></>
            <a class="nav-item nav-link active" href="{% url 'items' %}"><strong><span class="bi-server"> Items</strong></>
            <a class="nav-item nav-link active" href="/admin"><strong><span class="bi-gear-fill"> Admin</strong></>
            <a class="nav-item nav-link active" href="{% url 'sign-out' %}"><strong><span class="bi-door-open-fill"> Sign Out</strong></a>
        </div>
    {% endif %}
</nav>