<nav class="navbar navbar-expand navbar-dark bg-primary ">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><span class="bi-gem"></span>&ensp;<strong>RecSys</strong></a>
    </div>
    {% if user.is_authenticated %}
        <div class="container-fluid nav navbar-nav  justify-content-end">
            <a class="nav-item nav-link active">
                <strong><span class="bi-person-fill"></span>&ensp;{{ request.user}}&ensp;</strong>
            </a>
            <span class="bi-three-dots-vertical"></span>
            <a class="nav-item nav-link active" href="{% url 'recommendations' %}">
                <strong><span class="bi-bar-chart-line-fill"></span>&ensp;Recommendations&ensp;</strong>
            </a>
            <span class="bi-three-dots-vertical"></span>
            <a class="nav-item nav-link active" href="{% url 'likes' %}">
                <strong><span class="bi-star-half"></span>&ensp;Scoring&ensp;</strong>
            </a>
            <span class="bi-three-dots-vertical"></span>
            <a class="nav-item nav-link active" href="{% url 'items' %}">
                <strong><span class="bi-server"></span>&ensp;Items&ensp;</strong>
            </a>
            <span class="bi-three-dots-vertical"></span>
            <a class="nav-item nav-link active" href="/admin">
                <strong><span class="bi-wrench"></span>&ensp;Admin&ensp;</strong>
            </a>
            <span class="bi-three-dots-vertical"></span>
            <a class="nav-item nav-link active" href="/api">
                <strong><span class="bi-plug-fill"></span>&ensp;API&ensp;</strong>
            </a>
            <span class="bi-three-dots-vertical"></span>
            <a class="nav-item nav-link active" href="{% url 'sign-out' %}">
                <strong><span class="bi-door-open-fill"></span>&ensp;Sign Out</strong>
            </a>
        </div>
    {% endif %}
</nav>