{% extends "content.html" %}
{%block container_class %}container-fuild recommendations-container{% endblock %}

{%block menu%}{% include "single/menu.html" %}{% endblock %}

{%block head%}Recommendations{% endblock %}

{%block content%}
    <script>
        var context = {}
    </script>

    {% for recommendation in recommendations %}
        <h4 class="display-8 fw-bold"><span class="bi-bar-chart-line-fill">&ensp;{{ recommendation.name.capitalize }}</h4>

        <div id="{{recommendation.id}}" class="carousel carousel-dark" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for item in recommendation.items %}
                    <div class="carousel-item active">
                        <div class="card">
                            <div class="img-wrapper">
                                <img
                                    id="{{ item.id }}"
                                    src="{{ item.image }}"New Suede Shoe Cleaner Kit. Suede Brush & Suede Eraser for …
                                    alt="{{ item.name }}"
                                    class="d-block  w-100 round-image"
                                >
                                <script>
                                    window.addEventListener("load", event => {
                                        var img = document.getElementById('{{ item.id }}');
                                        if (img.naturalWidth < 14 && img.naturalHeight < 14) {
                                            img.src='{{ NO_IMAGE_ITEM_URL }}'
                                        }
                                    });
                                </script>
                            </div>
                            <div class="card-body">
                                <h7 class="card-title"><strong>{{ item.name|truncatechars:60 }}</strong></h7>
                                <p class="card-text" style="overflow-wrap: anywhere;">{{ item.description|truncatechars:100 }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#{{recommendation.id}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#{{recommendation.id}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <script>
            context['{{recommendation.id}}'] = {
                multipleCardCarousel: document.querySelector("#{{recommendation.id}}")
            }

            if (window.matchMedia("(min-width: 768px)").matches) {
                context['{{recommendation.id}}']['carousel']       =  new bootstrap.Carousel(context['{{recommendation.id}}'].multipleCardCarousel, {interval: false}),
                context['{{recommendation.id}}']['carouselWidth']  = $("#{{recommendation.id}} .carousel-inner")[0].scrollWidth,
                context['{{recommendation.id}}']['cardWidth']      = $("#{{recommendation.id}} .carousel-item").width(),
                context['{{recommendation.id}}']['scrollPosition'] = 0

                $("#{{recommendation.id}} .carousel-control-next").on("click", function () {
                    if (context['{{recommendation.id}}'].scrollPosition < context['{{recommendation.id}}'].carouselWidth - context['{{recommendation.id}}'].cardWidth * 4) {
                        context['{{recommendation.id}}'].scrollPosition += context['{{recommendation.id}}'].cardWidth;
                        $("#{{recommendation.id}} .carousel-inner").animate(
                            { scrollLeft: context['{{recommendation.id}}'].scrollPosition },
                            200
                        );
                    }
                });

                $("#{{recommendation.id}} .carousel-control-prev").on("click", function () {
                    if (context['{{recommendation.id}}'].scrollPosition > 0) {
                        context['{{recommendation.id}}'].scrollPosition -= context['{{recommendation.id}}'].cardWidth;
                        $("#{{recommendation.id}} .carousel-inner").animate(
                            { scrollLeft: context['{{recommendation.id}}'].scrollPosition },
                            200
                        );
                    }
                });
            } else {
                $(context['{{recommendation.id}}'].multipleCardCarousel).addClass("slide");
            }
        </script>
    {% endfor %}
{% endblock %}
