{% extends "content.html" %}
{%block container_class %}container-fuild recommendations-container{% endblock %}

{%block menu%}{% include "single/menu.html" %}{% endblock %}

{%block head%}Recommendations{% endblock %}

{%block content%}
    <script>
        var context = {}

        function onCardLoad(img) {
            if (img.naturalWidth < 14 && img.naturalHeight < 14) {
                img.src='{{ NO_IMAGE_ITEM_URL }}'
            }
        }
    </script>

    {% for recommendation in recommendations %}
        <h5 class="display-8 fw-bold recommendation-title">
            <span
                class="bi-bar-chart-line-fill"
                data-toggle="tooltip"
                data-hmlt=true
                data-placement="right"
                title="<p class='text-left'>{{ recommendation.description }}</p>"
            >&ensp;{{ recommendation.name }}
        </h5>
        {% if recommendation.info %}
            <div class="alert alert-info custom-alert-info" role="alert" style="margin-left: 23px;">
                <span class="bi-info-circle-fill"></span>&ensp;{{ recommendation.info }}
            </div>
        {% endif %}

        {% if recommendation.empty %}

        {% else %}

        <div id="{{recommendation.id}}" class="carousel carousel-dark" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for item in recommendation.items %}
                    <div class="carousel-item active">
                        <div
                            class="card"
                            data-toggle="tooltip"
                            data-html="true"

                            title="{% if item.description == None or item.description == 'None' %}No Description{% else %}{{ item.description|truncatechars:500 }}{% endif %}"
                            onclick="{% if perms.recsysweb.change_item %}location.href = '/items/edit/{{item.id}}/recommendations' {% endif %}"

                            style="cursor: pointer;"
                        >
                            <div class="img-wrapper">
                                <img
                                    id="{{ item.id }}"
                                    src="{{ item.image }}"New Suede Shoe Cleaner Kit. Suede Brush & Suede Eraser for …
                                    alt="{{ item.name }}"
                                    class="d-block  w-100 round-image",
                                    onload="onCardLoad(this);"
                                >
                            </div>
                            <hr class="separator" style="height:1px; width:100%;">
                            <div class="card-body custom-card-body">
                                <h7 class="card-title"><strong>{{ item.name|truncatechars:200 }}</strong></h7>
                            </div>
                            <div class="card-footer text-center">
                                Pop: <strong>{{ item.popularity|floatformat:3 }} <span class="bi-three-dots-vertical"></span> </strong>
                                Rating: <strong>{{ item.rating|floatformat:1 }} <span class="bi-three-dots-vertical"></span> </strong>
                                Votes: <strong>{{ item.votes|floatformat:0 }}</strong>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#{{recommendation.id}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#{{recommendation.id}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <script>
            context['{{recommendation.id}}'] = {
                multipleCardCarousel: document.querySelector("#{{recommendation.id}}")
            }

            if (window.matchMedia("(min-width: 768px)").matches) {
                context['{{recommendation.id}}']['carousel']       =  new bootstrap.Carousel(context['{{recommendation.id}}'].multipleCardCarousel, {interval: false}),
                context['{{recommendation.id}}']['carouselWidth']  = $("#{{recommendation.id}} .carousel-inner")[0].scrollWidth,
                context['{{recommendation.id}}']['cardWidth']      = $("#{{recommendation.id}} .carousel-item").width(),
                context['{{recommendation.id}}']['scrollPosition'] = 0

                $("#{{recommendation.id}} .carousel-control-next").on("click", function () {
                    if (context['{{recommendation.id}}'].scrollPosition < context['{{recommendation.id}}'].carouselWidth - context['{{recommendation.id}}'].cardWidth * 4) {
                        context['{{recommendation.id}}'].scrollPosition += context['{{recommendation.id}}'].cardWidth;
                        $("#{{recommendation.id}} .carousel-inner").animate(
                            { scrollLeft: context['{{recommendation.id}}'].scrollPosition },
                            200
                        );
                    }
                });

                $("#{{recommendation.id}} .carousel-control-prev").on("click", function () {
                    if (context['{{recommendation.id}}'].scrollPosition > 0) {
                        context['{{recommendation.id}}'].scrollPosition -= context['{{recommendation.id}}'].cardWidth;
                        $("#{{recommendation.id}} .carousel-inner").animate(
                            { scrollLeft: context['{{recommendation.id}}'].scrollPosition },
                            200
                        );
                    }
                });
            } else {
                $(context['{{recommendation.id}}'].multipleCardCarousel).addClass("slide");
            }
        </script>
        {% endif %}
    {% endfor %}
{% endblock %}
