{% extends "content.html" %}
{% load socialaccount %}
{%block container_class %}container{% endblock %}

{%block menu%}{% include "single/menu.html" %}{% endblock %}

{%block head%}Sign in{% endblock %}

{%block content%}
    <script>
        function sanitize_url(form) {
            form.action = '{% provider_login_url 'google' %}?next=/';
        }
    </script>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-5">
                <div class="card px-5 py-5" id="form1">
                    <h5 class="form-label"><span class="bi-person-fill"> </span>Sign In</h5>
                    <form onsubmit="sanitize_url(this)" method="POST">
                        {% csrf_token %}
                        <button type="submit"  class="btn btn-dark custom-btn-dark align-middle" style="width: 100%">
                            <img
                                src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
                                class="google-sign-in-icon"/>&ensp;<b>Sign in with <strong>Google</strong></b>
                        </button>
                    </form>
                    <hr style="height:1px; width:100%; border-width:2; color: #212529e8; background-color:#212529e8">
                    {% for message in messages %}
                    <div class="alert alert-warning custom-alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %}
                    <h5 class="form-label"><span class="bi-person-fill"> </span> Alternative Sign In</h5>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" class="form-control" name="username" placeholder="Username" autofocus>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-dark custom-btn-dark" style="width: 100%"><b><span class="bi-gem">&ensp;</span>Sign in with <strong>RecSys</strong</b></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
