{% extends "content.html" %}
{% load socialaccount %}
{%block container_class %}container{% endblock %}

{%block menu%}{% include "single/menu.html" %}{% endblock %}

{%block head%}Sign in{% endblock %}

{%block content%}
        <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-5">
                    <div class="card px-5 py-5" id="form1">
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            <h5 class="form-label">Select <strong><span class="bi-person-fill"></span> Sign In</strong> method...</h5>
                            <hr style="height:1px; width:100%; border-width:2; color:#ced4da; background-color:red">
                            <script>
                                function sanitize_url(form) {
                                    form.action = '{% provider_login_url 'google' %}?next=/';
                                }
                            </script>
                            <form onsubmit="sanitize_url(this)" method="POST">
                                {% csrf_token %}
                                <button type="submit"  class="btn btn-primary" style="width: 100%">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>&ensp;<b>Sign in with Google</b>
                                </button>
                            </form>
                            <hr style="height:1px; width:100%; border-width:2; color:#ced4da; background-color:red">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="username" placeholder="Username" autofocus>
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary" style="width: 100%"><b>Sign in with  <strong><span class="bi-gem"></span> RecSys</strong></b></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
