{% csrf_token %}
{% for field in form %}
    <div class="mb-3">
        <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
        {% if field.field.widget.input_type == 'text' %}
            <input 
            type="{{ field.field.widget.input_type }}"
            class="form-control"
            id="{{ field.id }}"
            name="{{ field.name }}"
            value="{{ field.value | default:'' }}"
            autofocus>
        {% else %}
            <textarea 
                class="form-control"
                id="{{ field.id }}"
                name="{{ field.name }}"
                rows="3"
                autofocus
            >{{ field.value | default:''  }}</textarea>
        {% endif %}
    </div>
    <div class="col-12 help-text">{{ field.errors}}</div>
{% endfor %}

<div class="col-12">
    <button type="submit" class="btn btn-success">Save</button>
</div>