{% extends "content.html" %}
{%block container_class %}container{% endblock %}


{%block menu%}{% include "single/menu.html" %}{% endblock %}

{%block head%}Items{% endblock %}

{%block title%}<h3 class="display-8 fw-bold"><span class="bi-server">&ensp;Items</h1>{% endblock %}

{%block content%}

<script>
  var context = {}

  function onCardLoad(img) {
      if (img.naturalWidth < 14 && img.naturalHeight < 14) {
          img.src='{{ NO_IMAGE_ITEM_URL }}'
      }
  }
</script>

<div class="card">
  <div class="card-header text-end">
    <div class="btn-group">
      {% if page.has_previous %}
          <a
            class="btn btn-primary btn-lg"
            role="button"
            href="?page=1{{ tags_uri }}"
          ><span class="bi-chevron-double-left"></span></a>

          <a
          class="btn btn-primary btn-lg"
          role="button"
          href="?page={{ page.previous_page_number }}{{ tags_uri }}"
        ><span class="bi-chevron-left"></a>
      {% endif %}
      {% if page.has_next %}
          <a
            class="btn btn-primary btn-lg"
            role="button"
            href="?page={{ page.next_page_number }}{{ tags_uri }}"
          ><span class="bi-chevron-right"></a>
          <a
          class="btn btn-primary btn-lg"
          role="button"
          href="?page={{ page.paginator.num_pages }}{{ tags_uri }}"
        ><span class="bi-chevron-double-right"></span></a>
      {% endif %}
    </div>

    <div class="btn-group">
      <a class="btn btn-success btn-lg" role="button"  href="{% url 'items.create' %}"><span class="bi-plus-square"></a>
    </div>
  </div>

    <div class="card-body">

      <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="row height d-flex justify-content-center align-items-center">
              <div class="col-md-6">
                <div
                  class="form"
                  data-toggle="tooltip"
                  data-hmlt=true
                  data-placement="right"
                  title="<strong>Search Patterns</strong><ul><li>Search items by a coma separated list of tags.</li><li>Exclude items with tags using a negative sign (-).</li><li>i.e.: fiction, science fiction, -fantasy, -drama, -high fantasy</li></ul>"
                >
                  <i class="bi bi-search"></i>
                  <input id="items-search" type="text" class="form-control form-input" placeholder="Search by tags..." value="{{ tags}}">
                </div>
              </div>
            </div>
        </div>
      </div>

    <span class="step-links">
      Page <strong>{{ page.number }}</strong> of <strong>{{ page.paginator.num_pages }}</strong>
    </span>
    <table class="table">
      <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
          </tr>
      </thead>
      <tbody>
        {% for item in page %}
          <tr scope="row">
            <td><img src="{{ item.image }}" style="width: 100%" onload="onCardLoad(this);" /></td>
            <td><strong>{{ item.name }}</strong></td>
            <td>
              {% if item.description == None or item.description == 'None' %}
                No Description
              {% else %}
                  {{ item.description|truncatechars:500 }}
              {% endif %}
            </td>
            <td>
              <div class="btn-group">
                {% if perms.recsysweb.change_item %}
                  <a class="btn btn-primary btn-lg" role="button"  href="{% url 'items.edit' id=item.id origin='items' %}"><span class="bi-pencil-square"></a>
                {% endif %}
                {% if perms.recsysweb.delete_item %}
                  <a class="btn btn-danger btn-lg" role="button"  href="{% url 'items.remove' item.id %}"><span class="bi-trash"></a>
                {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <span class="step-links">
      Page <strong>{{ page.number }}</strong> of <strong>{{ page.paginator.num_pages }}</strong>
    </span>
  </div>

  <div class="card-footer regular-card-footer text-end">
    <div class="btn-group">
      {% if page.has_previous %}
          <a
            class="btn btn-primary btn-lg"
            role="button"
            href="?page=1{{ tags_uri }}"
          ><span class="bi-chevron-double-left"></span></a>

          <a
            class="btn btn-primary btn-lg"
            role="button"
            href="?page={{ page.previous_page_number }}{{ tags_uri }}"
          ><span class="bi-chevron-left"></a>
      {% endif %}
      {% if page.has_next %}
          <a
            class="btn btn-primary btn-lg"
            role="button"
            href="?page={{ page.next_page_number }}{{ tags_uri }}"
          ><span class="bi-chevron-right"></a>

          <a
            class="btn btn-primary btn-lg"
            role="button"
            href="?page={{ page.paginator.num_pages }}{{ tags_uri }}"
          ><span class="bi-chevron-double-right"></span></a>
      {% endif %}
    </div>

    <div class="btn-group">
      <a class="btn btn-success btn-lg" role="button"  href="{% url 'items.create' %}"><span class="bi-plus-square"></a>
    </div>
  </div>
</div>

<script>
  const search = document.getElementById("items-search");
  search.addEventListener("keyup", function(event) {
      if (event.key === "Enter") {
        tags = search.value.trim()

        if (tags) {
          location.href = "{% url 'items' %}?" + tags.split(',').map(it => 'tag=' + it.trim()).join('&')
        } else {
          location.href = "{% url 'items' %}"
        }
      }
  });
</script>
{% endblock %}
