.carousel-inner {
    padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
    background-color: #e4e4e4cf;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-control-prev {
    left: 0%;
}
.carousel-control-next {
    left: 97%;
}
.carousel-control-next-icon
.carousel-control-prev-icon {
    width: 5rem;
    height: 5rem;
}
@media (min-width: 768px) {
    .carousel-item {
        margin-right: 0;
        flex: 0 0 250px;
        display: block;
    }
    .carousel-inner {
        display: flex;
        margin-top: -18px;
    }
}



.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 10px 0 rgb(22 22 26 / 83%);
    border: solid 3px;
    border-color: #212529d9;
    border-radius: 6px;
    height: 100%;
    padding-top: 9px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 100%;
}
.round-image {
    border-radius: 5px;
}
.card .img-wrapper {
    max-width: 100%;
    height: 20em;
    display: flex;
    align-items: center;
    align-self: center;
}
.card img {
    max-height: 100%;
}
@media (max-width: 767px) {
    .card .img-wrapper {
        height: 17em;
    }
}

.recommendations-container {
    padding-top: 5px;
    padding-bottom: 25px;

    padding-left: 15px;
    padding-right: 25px;
}

.container {
    margin-top: 25px;
}

.google-cont {
   background-color: #fff;
}

label[for="id_username"],
label[for="id_email"] {
    display:none;
}

#id_email { display: none;}


.card-text {
    padding-top: 10px;
    font-size: 13px;
}

.regular-card-footer {
    font-size: 11px;
    padding-left: 0.5px;
    padding-right: 0.5px;
    padding-top: 1px;
    margin-bottom: 4px;
    padding-bottom: 0px;
}

.recommendation-title {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.google-sign-in-icon {
    margin-top: -5px;
    height: 20px
}


#body {
    background-color:  #21252908
}

.custom-alert-info {
    background-color: #ffffffc9;
    border: 2px solid #4127282b;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
}

.custom-alert-warning {
    background-color: #ffffffc9;
    border: 2px solid #41272840;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
}


.custom-btn-dark {
    background-color: #212529e8
}

.custom-title-card-body {
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    flex: 0.5 0.5 auto;
}

.custom-tags-card-body {
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    flex: 0.5 0.5 auto;
}

.separator {
    height:0.5px;
    width:100%;
    padding: 0px;
    margin-top: 9px;
    margin-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
}

.separator-tags {
    height:0.5px;
    width:100%;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.custom-form-control {
    line-height: 0.5;
}


.card-detail {
    box-shadow:  2px 3px 14px 0 rgb(22 22 26 / 83);
    border: solid 3px;
    border-color: #212529d9;

    padding: 8px;
    height: 100%;
    border-radius: 6px;
    margin-bottom: 25px;
}
.card-detail img {
    max-height: 100%;
    max-width: 100%;
}
.card-detail .img-wrapper {
    display: flex;
    align-items: center;
    align-self: center;
}

.card-detail-footer {
    font-size: 13px;

    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}


.card-like-footer {
    font-size: 13px;

    margin-top: 10px;
    margin-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}


.card-detail-data {
    margin-bottom: 15px;
}

.card-detail .carousel-inner {
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
}
.card-detail .carousel-control-prev,
.card-detail .carousel-control-next {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.card-detail .carousel-control-prev {
    left: -3%;
}
.card-detail .carousel-control-next {
    left: 95%;
}
.card-detail .carousel-control-next-icon
.card-detail .carousel-control-prev-icon {
    width: 5rem;
    height: 5rem;
}
@media (min-width: 768px) {
    .card-detail .carousel-item {
        margin-right: 0;
        flex: 0 0 250px;
        display: block;
    }
    .card-detail .carousel-inner {
        display: flex;
    }
}

.menu-item-separator {
    color: #e4e4e4cf;
}

.likes {
    margin-top: 26px;
}


.card {
    background-color: #ffffff;
}
.card-detail {
    background-color: #ffffff;
}



.general-background {
    background-color: #f4f1eae6;
}


.tag {
    margin-bottom: 4px;
}

.tooltip-inner {
    max-width: 500px !important;
    text-align: left !important;
}

.logo-bar {
    max-width: 0px !important;
}

.menu-bar {
    min-width: 800px !important;
}