.carousel-inner {
    padding: 1em;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 10px 0 rgba(22, 22, 26, 0.483);
    border: none;
    height: 100%;
    padding-top: 18px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #717171b5;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .carousel-item {
        margin-right: 0;
        flex: 0 0 25%;
        display: block;
    }

    .carousel-inner {
        display: flex;
    }
}

.card .img-wrapper {
    max-width: 100%;
    height: 26em;
    display: flex;
    align-items: center;
    align-self: center;
}


.card img {
    max-height: 100%;
}

@media (max-width: 767px) {
    .card .img-wrapper {
        height: 17em;
    }
}

.container {
    margin-top: 25px;
}



.card-like img {
    max-height: 100%;
}
.card-like .img-wrapper {
    max-width: 100%;
    height:42em;
    display: flex;
    align-items: center;
    align-self: center;
}


.card-like {
    box-shadow: 2px 6px 10px 0 rgba(22, 22, 26, 0.483);
    border: none;
    height: 100%;
    padding: 11px;
    max-width: 100%;
    border-radius: 0.5%;
}
