.carousel-inner {
    padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
    background-color: #e4e4e4cf;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-control-prev {
    left: 0%;
}
.carousel-control-next {
    left: 97%;
}
.carousel-control-next-icon
.carousel-control-prev-icon {
    width: 5rem;
    height: 5rem;
}
@media (min-width: 768px) {
    .carousel-item {
        margin-right: 0;
        flex: 0 0 300px;
        display: block;
    }
    .carousel-inner {
        display: flex;
        margin-top: -18px;
    }
}



.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 10px 0 rgb(22 22 26 / 83%);
    border: none;
    height: 100%;
    padding-top: 9px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 100%;
    background-color: #ffffff;
}
.round-image {
    border-radius: 5px;
}
.card .img-wrapper {
    max-width: 100%;
    height: 17em;
    display: flex;
    align-items: center;
    align-self: center;
}
.card img {
    max-height: 100%;
}
@media (max-width: 767px) {
    .card .img-wrapper {
        height: 17em;
    }
}

.card-like {
    box-shadow:  2px 3px 14px 0 rgb(22 22 26 / 83);
    border: none;
    height: 100%;
    padding-top: 11px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 11px;
    max-width: 100%;
    border-radius: 0.6%;
}
.card-like img {
    max-height: 100%;
    background-color: #f8f9fa;
}
.card-like .img-wrapper {
    max-width: 100%;
    height: 42em;
    display: flex;
    align-items: center;
    align-self: center;
}


.recommendations-container {
    padding-top: 25px;
    padding-bottom: 25px;

    padding-left: 150px;
    padding-right: 150px;
}

.container {
    margin-top: 25px;
}


.likes {
    width: 425px;
    padding-top: 10px;
}

.likes .card-body {
    padding-top: 11px;
    padding-left: 0px;
    padding-right: 0px;
}

.likes .card-title {
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
}


.google-cont {
   background-color: #fff;
}

label[for="id_username"],
label[for="id_email"] {
    display:none;
}

#id_email { display: none;}


.card-text {
    padding-top: 10px;
    font-size: 13px;
}

.card-footer {
    font-size: 11px;
}

.recommendation-title {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.google-sign-in-icon {
    margin-top: -5px;
    height: 20px
}


#body {
  background-color:  #21252908
}

.custom-alert-info {
    background-color: #cff4fca1;
}

.custom-alert-warning {
    background-color: #fff3cda1;
}


.custom-btn-dark {
    background-color: #212529d9;
}

